<ul class="flex" role="menu">
    {{#each blog.navigation as |navigation|}}
      <li class="{{if (route-is navigation.route) 'nav-current'}} mr-8 hover:no-underline" role="menuitem">
        {{#if navigation.id}}
          {{#link-to navigation.route navigation.id}} {{navigation.label}} {{/link-to}}
        {{else if navigation.route}}
          {{#link-to navigation.route}} {{navigation.label}} {{/link-to}}
        {{else if navigation.link}}
          <a href="{{navigation.link}}"> {{navigation.label}} </a>
        {{/if}}
      </li>
    {{/each}}
</ul>
